*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
  }
  
  body{
    background:#f7f5f3;
    color:#333;
  }
  
  /* Navbar */
  
  header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:white;
  }
  
  .logo{
    font-size:40px;
    font-weight:bold;
    text-align:centersss;
  }
  
  nav ul{
    display:flex;
    list-style:none;
    gap:25px;
  }
  
  nav ul li a{
    text-decoration:none;
    color:#444;
    font-size:14px;
  }

  
  
  /* Hero */
  
  .hero{
    height:90vh;
    background:url('imagess.webp')
    center/cover no-repeat;
    position:relative;
  }
  
  .overlay{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
   
  }
  
  .overlay h1{
    font-size:60px;
    margin-bottom:20px;
  }
  
  .overlay button{
    padding:14px 35px;
    border:none;
    background:#cc3567;
    color:white;
    cursor:pointer;
    font-size:15px;
  }
  
  /* Welcome */
  
  .welcome{
    padding:80px 70px;
  }
  
  .top-text{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:50px;
  }
  
  .small-title{
    color:#ee2b5c;
    font-size:12px;
    letter-spacing:2px;
    margin-bottom:10px;
  }
  
  .top-text h2{
    font-size:42px;
    line-height:1.2;
  }
  
  .appointment-btn{
    background:rgb(216, 68, 97);
    color:white;
    border:none;
    padding:15px 30px;
    cursor:pointer;
  }
  
  /* Grid */
  
  .grid-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
  }
  
  .card{
    background:white;
    overflow:hidden;
    min-height:250px;
  }
  
  .image-card img{
    width:100%;
    height:100%;
    object-fit:cover;
  }
  
  .text-card{
    padding:40px 30px;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  
  .text-card h3{
    margin-bottom:15px;
    font-size:28px;
  }
  
  .text-card p{
    margin-bottom:15px;
    color:#666;
  }
  
  .text-card a{
    text-decoration:none;
    color:#e43846;
  }
  
  /* Stylist */
  
  .stylist-section{
    display:flex;
    align-items:center;
    gap:50px;
    background:#f1e7e0;
    padding:70px;
    margin:70px;
  }
  
  .stylist-image img{
    width:500px;
    max-width:100%;
  }
  
  .stylist-content h2{
    font-size:48px;
    margin-bottom:20px;
  }
  
  .stylist-content p{
    color:#555;
    margin-bottom:30px;
    line-height:1.7;
  }
  
  .subscribe-box{
    display:flex;
  }
  
  .subscribe-box input{
    padding:15px;
    width:260px;
    border:none;
  }
  
  .subscribe-box button{
    background:#ee426d;
    color:white;
    border:none;
    padding:15px 25px;
  }
  
  /* Products */
  
  .products{
    padding:80px 70px;
  }
  
  .product-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:50px;
  }
  
  .product-header h2{
    font-size:42px;
  }
  
  .product-header button{
    background:#e64877;
    border:none;
    color:white;
    padding:14px 30px;
  }
  
  .product-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
  }
  
  .product-card{
    background:white;
    text-align:center;
    padding-bottom:20px;
  }
  
  .product-card img{
    width:100%;
    height:350px;
    object-fit:cover;
    margin-bottom:15px;
  }
  
  .product-card h3{
    margin-bottom:10px;
  }
  
  .product-card p{
    color:#e04b7d;
  }
  
  /* Responsive */
  
  @media(max-width:992px){
  
    .grid-container{
        grid-template-columns:1fr 1fr;
    }
  
    .product-grid{
        grid-template-columns:1fr 1fr;
    }
  
    .stylist-section{
        flex-direction:column;
    }
  
    header{
        flex-direction:column;
        gap:20px;
    }
  
    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }
  }
  
  @media(max-width:768px){
  
    .grid-container{
        grid-template-columns:1fr;
    }
  
    .product-grid{
        grid-template-columns:1fr;
    }
  
    .top-text,
    .product-header{
        flex-direction:column;
        gap:20px;
        align-items:flex-start;
    }
  
    .overlay h1{
        font-size:40px;
    }
  
    .top-text h2,
    .product-header h2,
    .stylist-content h2{
        font-size:32px;
    }
  
    .welcome,
    .products,
    .stylist-section{
        padding:30px;
        margin:20px;
    }
  }
  *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family:Arial, sans-serif;
  }
  
  body{
      background:#f7f5f3;
      color:#333;
  }
  
  /* SECTION COMMON */
  
  .small-title{
      color:rgb(202, 39, 80);
      letter-spacing:2px;
      font-size:12px;
      margin-bottom:10px;
  }
  
  h2{
      font-size:45px;
      line-height:1.2;
  }
  
  /* COLLECTION */
  
  .collection{
      padding:80px 70px;
  }
  
  .heading{
      display:flex;
      justify-content:space-between;
      align-items:center;
      margin-bottom:50px;
  }
  
  .heading button{
      background:#da3868;
      border:none;
      padding:14px 30px;
      color:white;
      cursor:pointer;
  }
  
  .dress-grid{
      display:grid;
      grid-template-columns:repeat(4,1fr);
      gap:25px;
  }
  
  .dress-card{
      background:white;
      text-align:center;
      padding-bottom:20px;
  }
  
  .dress-card img{
      width:100%;
      height:350px;
      object-fit:cover;
      margin-bottom:15px;
  }
  
  .dress-card h3{
      font-size:14px;
      margin-bottom:8px;
  }
  
  .dress-card p{
      color:#cc2a45;
  }
  
  /* PERFECT LOOK */
  
  .perfect-look{
      margin:70px;
      background:
      linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
      url('https://images.unsplash.com/photo-1494790108377-be9c29b29330')
      center/cover no-repeat;
  
      padding:80px;
      color:white;
  }
  
  .content{
      max-width:550px;
  }
  
  .desc{
      margin:20px 0 30px;
      line-height:1.7;
  }
  
  .accessories{
      display:flex;
      gap:20px;
      flex-wrap:wrap;
  }
  
  .item{
      background:white;
      color:#333;
      width:100px;
      padding:10px;
      text-align:center;
  }
  
  .item img{
      width:100%;
      height:80px;
      object-fit:cover;
      margin-bottom:10px;
  }
  
  .item h4{
      font-size:13px;
      margin-bottom:5px;
  }
  
  .item p{
      color:#df305b;
  }
  
  /* PRICING */
  
  .pricing{
      padding:80px 70px;
  }
  
  .title-center{
      text-align:center;
      margin-bottom:60px;
  }
  
  .pricing-grid{
      display:grid;
      grid-template-columns:repeat(3,1fr);
      gap:30px;
  }
  
  .price-card{
      background:white;
      padding:40px 30px;
      position:relative;
      text-align:left;
  }
  
  .price-circle{
      position:absolute;
      top:20px;
      right:20px;
      background:#dd385c;
      color:white;
      width:70px;
      height:70px;
      border-radius:50%;
      display:flex;
      justify-content:center;
      align-items:center;
      font-weight:bold;
  }
  
  .price-card h3{
      margin-bottom:30px;
      font-size:28px;
  }
  
  .price-card ul{
      list-style:none;
      margin-bottom:30px;
  }
  
  .price-card ul li{
      margin-bottom:15px;
      color:#555;
  }
  
  .price-card a{
      text-decoration:none;
      color:#ee4c59;
  }
  
  /* STATS */
  
  .stats{
      padding:60px 70px;
      display:grid;
      grid-template-columns:repeat(4,1fr);
      gap:20px;
      text-align:center;
  }
  
  .stat-box{
      background:white;
      padding:30px;
  }
  
  .stat-box h3{
      font-size:40px;
      margin-bottom:10px;
      color:rgb(231, 64, 64);
  }
  
  .stat-box p{
      color:#666;
  }
  
  /* RESPONSIVE */
  
  @media(max-width:992px){
  
      .dress-grid{
          grid-template-columns:1fr 1fr;
      }
  
      .pricing-grid{
          grid-template-columns:1fr;
      }
  
      .stats{
          grid-template-columns:1fr 1fr;
      }
  }
  
  @media(max-width:768px){
  
      .dress-grid{
          grid-template-columns:1fr;
      }
  
      .heading{
          flex-direction:column;
          gap:20px;
          align-items:flex-start;
      }
  
      .stats{
          grid-template-columns:1fr;
      }
  
      h2{
          font-size:32px;
      }
  
      .collection,
      .pricing{
          padding:40px 20px;
      }
  
      .perfect-look{
          margin:20px;
          padding:40px 20px;
      }
  }*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
  }
  
  body{
    background:#f7f5f3;
    color:#333;
  }
  
  /* SECTION COMMON */
  
  .small-title{
    color:#e7426b;
    letter-spacing:2px;
    font-size:12px;
    margin-bottom:10px;
  }
  
  h2{
    font-size:45px;
    line-height:1.2;
  }
  
  /* COLLECTION */
  
  .collection{
    padding:80px 70px;
  }
  
  .heading{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:50px;
  }
  
  .heading button{
    background:#e63d59;
    border:none;
    padding:14px 30px;
    color:white;
    cursor:pointer;
  }
  
  .dress-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
  }
  
  .dress-card{
    background:white;
    text-align:center;
    padding-bottom:20px;
  }
  
  .dress-card img{
    width:100%;
    height:350px;
    object-fit:cover;
    margin-bottom:15px;
  }
  
  .dress-card h3{
    font-size:14px;
    margin-bottom:8px;
  }
  
  .dress-card p{
    color:#e72f5d;
  }
  
  /* PERFECT LOOK */
  
  .perfect-look{
    margin:70px;
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1494790108377-be9c29b29330')
    center/cover no-repeat;
  
    padding:80px;
    color:white;
  }
  
  .content{
    max-width:550px;
  }
  
  .desc{
    margin:20px 0 30px;
    line-height:1.7;
  }
  
  .accessories{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
  }
  
  .item{
    background:white;
    color:#333;
    width:100px;
    padding:10px;
    text-align:center;
  }
  
  .item img{
    width:100%;
    height:80px;
    object-fit:cover;
    margin-bottom:10px;
  }
  
  .item h4{
    font-size:13px;
    margin-bottom:5px;
  }
  
  .item p{
    color:#e74e67;
  }
  
  /* PRICING */
  
  .pricing{
    padding:80px 70px;
  }
  
  .title-center{
    text-align:center;
    margin-bottom:60px;
  }
  
  .pricing-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
  }
  
  .price-card{
    background:white;
    padding:40px 30px;
    position:relative;
    text-align:left;
  }
  
  .price-circle{
    position:absolute;
    top:20px;
    right:20px;
    background:#ee4750;
    color:white;
    width:70px;
    height:70px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
  }
  
  .price-card h3{
    margin-bottom:30px;
    font-size:28px;
  }
  
  .price-card ul{
    list-style:none;
    margin-bottom:30px;
  }
  
  .price-card ul li{
    margin-bottom:15px;
    color:#555;
  }
  
  .price-card a{
    text-decoration:none;
    color:#e24761;
  }
  
  /* STATS */
  
  .stats{
    padding:60px 70px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    text-align:center;
  }
  
  .stat-box{
    background:white;
    padding:30px;
  }
  
  .stat-box h3{
    font-size:40px;
    margin-bottom:10px;
    color:#db5050;
  }
  
  .stat-box p{
    color:#666;
  }
  
  /* RESPONSIVE */
  
  @media(max-width:992px){
  
    .dress-grid{
        grid-template-columns:1fr 1fr;
    }
  
    .pricing-grid{
        grid-template-columns:1fr;
    }
  
    .stats{
        grid-template-columns:1fr 1fr;
    }
  }
  
  @media(max-width:768px){
  
    .dress-grid{
        grid-template-columns:1fr;
    }
  
    .heading{
        flex-direction:column;
        gap:20px;
        align-items:flex-start;
    }
  
    .stats{
        grid-template-columns:1fr;
    }
  
    h2{
        font-size:32px;
    }
  
    .collection,
    .pricing{
        padding:40px 20px;
    }
  
    .perfect-look{
        margin:20px;
        padding:40px 20px;
    }
  }
  
  
  
  /* SECTION COMMON */
  
  .small-title{
    color:#e75353;
    letter-spacing:2px;
    font-size:12px;
    margin-bottom:10px;
  }
  
  h2{
    font-size:45px;
    line-height:1.2;
  }
  
  /* COLLECTION */
  
  .collection{
    padding:80px 70px;
  }
  
  .heading{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:50px;
  }
  
  .heading button{
    background:#d32e60;
    border:none;
    padding:14px 30px;
    color:white;
    cursor:pointer;
  }
  
  .dress-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
  }
  
  .dress-card{
    background:white;
    text-align:center;
    padding-bottom:20px;
  }
  
  .dress-card img{
    width:100%;
    height:350px;
    object-fit:cover;
    margin-bottom:15px;
  }
  
  .dress-card h3{
    font-size:14px;
    margin-bottom:8px;
  }
  
  .dress-card p{
    color:#d35151;
  }
  
  /* PERFECT LOOK */
  
  .perfect-look{
    margin:70px;
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('avif.avif')
    center/cover no-repeat;
  
    padding:80px;
    color:white;
  }
  
  .content{
    max-width:550px;
  }
  
  .desc{
    margin:20px 0 30px;
    line-height:1.7;
  }
  
  .accessories{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
  }
  
  .item{
    background:white;
    color:#333;
    width:100px;
    padding:10px;
    text-align:center;
  }
  
  .item img{
    width:100%;
    height:80px;
    object-fit:cover;
    margin-bottom:10px;
  }
  
  .item h4{
    font-size:13px;
    margin-bottom:5px;
  }
  
  .item p{
    color:#e6545b;
  }
  
  /* PRICING */
  
  .pricing{
    padding:80px 70px;
  }
  
  .title-center{
    text-align:center;
    margin-bottom:60px;
  }
  
  .pricing-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
  }
  
  .price-card{
    background:white;
    padding:40px 30px;
    position:relative;
    text-align:left;
  }
  
  .price-circle{
    position:absolute;
    top:20px;
    right:20px;
    background:#e04040;
    color:white;
    width:70px;
    height:70px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
  }
  
  .price-card h3{
    margin-bottom:30px;
    font-size:28px;
  }
  
  .price-card ul{
    list-style:none;
    margin-bottom:30px;
  }
  
  .price-card ul li{
    margin-bottom:15px;
    color:#555;
  }
  
  .price-card a{
    text-decoration:none;
    color:#d42d57;
  }
  
  /* STATS */
  
  .stats{
    padding:60px 70px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    text-align:center;
  }
  
  .stat-box{
    background:white;
    padding:30px;
  }
  
  .stat-box h3{
    font-size:40px;
    margin-bottom:10px;
    color:#dd384e;
  }
  
  .stat-box p{
    color:#666;
  }
  
  /* RESPONSIVE */
  
  @media(max-width:992px){
  
    .dress-grid{
        grid-template-columns:1fr 1fr;
    }
  
    .pricing-grid{
        grid-template-columns:1fr;
    }
  
    .stats{
        grid-template-columns:1fr 1fr;
    }
  }
  
  @media(max-width:768px){
  
    .dress-grid{
        grid-template-columns:1fr;
    }
  
    .heading{
        flex-direction:column;
        gap:20px;
        align-items:flex-start;
    }
  
    .stats{
        grid-template-columns:1fr;
    }
  
    h2{
        font-size:32px;
    }
  
    .collection,
    .pricing{
        padding:40px 20px;
    }
  
    .perfect-look{
        margin:20px;
        padding:40px 20px;
    }
  }